[submodule "RL-Shipping"]
	path = RL-Shipping
	url = https://github.com/RLJO/RL-Shipping.git
	branch = Shipping
[submodule "addons-vauxoo"]
	path = addons-vauxoo
	url = https://github.com/RLCO/addons-vauxoo.git
	branch = 12.0
[submodule "fb-connector"]
	path = fb-connector
	url = https://github.com/RLCO/fb-connector.git
	branch = 12.0
[submodule "operating-unit"]
	path = operating-unit
	url = https://github.com/RLCO/operating-unit.git
	branch = 12.0
[submodule "pos-addons"]
	path = pos-addons
	url = https://github.com/RLCO/pos-addons.git
	branch = 12.0
[submodule "l10n-addons"]
	path = l10n-addons
	url = https://github.com/RLCO/l10n-addons.git
	branch = 12.0
[submodule "odoo-product-configurator"]
	path = odoo-product-configurator
	url = https://github.com/RLCO/odoo-product-configurator.git
	branch = 12.0
[submodule "odoo-payment-gateways"]
	path = odoo-payment-gateways
	url = https://github.com/RLCO/odoo-payment-gateways.git
	branch = 12.0
[submodule "hootel"]
	path = hootel
	url = https://github.com/RLCO/hootel.git
	branch = 12.0
[submodule "odoo-project-addons"]
	path = odoo-project-addons
	url = https://github.com/RLCO/odoo-project-addons.git
	branch = 12.0
[submodule "external_modules"]
	path = external_modules
	url = https://github.com/RLCO/external_modules.git
	branch = 12.0
[submodule "merp"]
	path = merp
	url = https://github.com/RLCO/merp.git
	branch = 12.0
[submodule "odoo-by"]
	path = odoo-by
	url = https://github.com/RLCO/odoo-by.git
	branch = 12.0
[submodule "odoo-vtiger"]
	path = odoo-vtiger
	url = https://github.com/RLCO/odoo-vtiger.git
	branch = 12.0
[submodule "addons-onestein"]
	path = addons-onestein
	url = https://github.com/RLCO/addons-onestein.git
	branch = 12.0
[submodule "mtd"]
	path = mtd
	url = https://github.com/RLCO/mtd.git
	branch = 12.0
[submodule "qrtl-custom"]
	path = qrtl-custom
	url = https://github.com/RLCO/qrtl-custom.git
	branch = 12.0
[submodule "edz-custom"]
	path = edz-custom
	url = https://github.com/RLCO/edz-custom.git
	branch = 12.0
[submodule "oaw-custom"]
	path = oaw-custom
	url = https://github.com/RLCO/oaw-custom.git
	branch = 12.0
[submodule "odoo-addons22"]
	path = odoo-addons22
	url = https://github.com/RLCO/odoo-addons22.git
	branch = 12.0
[submodule "odoo_modules"]
	path = odoo_modules
	url = https://github.com/RLCO/odoo_modules.git
	branch = 12.0
[submodule "odoo_community_addons"]
	path = odoo_community_addons
	url = https://github.com/RLCO/odoo_community_addons.git
	branch = 12.0
[submodule "odoonz-addons"]
	path = odoonz-addons
	url = https://github.com/RLCO/odoonz-addons.git
	branch = 12.0
[submodule "willdooit-afex-odoo"]
	path = willdooit-afex-odoo
	url = https://github.com/RLCO/willdooit-afex-odoo.git
	branch = 12.0
[submodule "odoo-addons-School"]
	path = odoo-addons-School
	url = https://github.com/RLCO/odoo-addons-School.git
	branch = 12.0
[submodule "crm-addons-School"]
	path = crm-addons-School
	url = https://github.com/RLCO/crm-addons-School.git
	branch = 12.0
[submodule "sale-addons-School"]
	path = sale-addons-School
	url = https://github.com/RLCO/sale-addons-School.git
	branch = 12.0
[submodule "education"]
	path = education
	url = https://github.com/RLCO/education.git
	branch = 12.0
[submodule "hr-addons"]
	path = hr-addons
	url = https://github.com/RLCO/hr-addons.git
	branch = 12.0
[submodule "project-addons"]
	path = project-addons
	url = https://github.com/RLCO/project-addons.git
	branch = 12.0
[submodule "qu-server-tools"]
	path = qu-server-tools
	url = https://github.com/RLCO/qu-server-tools.git
	branch = 12.0
[submodule "hibou-odoo-suite"]
	path = hibou-odoo-suite
	url = https://github.com/RLCO/hibou-odoo-suite.git
	branch = 12.0
[submodule "qubiq-addons"]
	path = qubiq-addons
	url = https://github.com/RLCO/qubiq-addons.git
	branch = 12.0
[submodule "odoo_apps_public"]
	path = odoo_apps_public
	url = https://github.com/RLCO/odoo_apps_public.git
	branch = 12.0
[submodule "odoo-base"]
	path = odoo-base
	url = https://github.com/RLCO/odoo-base.git
	branch = 12.0
[submodule "odoo-af"]
	path = odoo-af
	url = https://github.com/RLCO/odoo-af.git
	branch = 12.0
[submodule "odoo-hr"]
	path = odoo-hr
	url = https://github.com/RLCO/odoo-hr.git
	branch = 12.0
[submodule "odoo-website"]
	path = odoo-website
	url = https://github.com/RLCO/odoo-website.git
	branch = 12.0
[submodule "odoo-crm"]
	path = odoo-crm
	url = https://github.com/RLCO/odoo-crm.git
	branch = 12.0
[submodule "odoo-hw"]
	path = odoo-hw
	url = https://github.com/RLCO/odoo-hw.git
	branch = 12.0
[submodule "odoo-apps"]
	path = odoo-apps
	url = https://github.com/RLCO/odoo-apps.git
	branch = 12.0
[submodule "odoo-report"]
	path = odoo-report
	url = https://github.com/RLCO/odoo-report.git
	branch = 12.0
[submodule "admin_export"]
	path = admin_export
	url = https://github.com/RLCO/admin_export.git
	branch = master
[submodule "multipay"]
	path = multipay
	url = https://github.com/RLCO/multipay.git
	branch = master
[submodule "Fleet-Rental-Management"]
	path = Fleet-Rental-Management
	url = https://github.com/Viltco/Fleet-Rental-Management.git
	branch = master
[submodule "Rasool-Nawaz"]
	path = Rasool-Nawaz
	url = https://github.com/RLCO/Rasool-Nawaz.git
	branch = master
[submodule "School-Management"]
	path = School-Management
	url = https://github.com/RLCO/School-Management.git
	branch = master
[submodule "Beauty-Spa-Management"]
	path = Beauty-Spa-Management
	url = https://github.com/RLCO/Beauty-Spa-Management.git
	branch = master
[submodule "Front-Office-Management"]
	path = Front-Office-Management
	url = https://github.com/RLCO/Front-Office-Management.git
	branch = master
[submodule "Event-Management"]
	path = Event-Management
	url = https://github.com/RLCO/Event-Management.git
	branch = master
[submodule "invoice_report_design"]
	path = invoice_report_design
	url = https://github.com/RLCO/invoice_report_design.git
	branch = master
[submodule "carpeta_ventas_monopark"]
	path = carpeta_ventas_monopark
	url = https://github.com/RLCO/carpeta_ventas_monopark.git
	branch = master
[submodule "payments_usd_mxn"]
	path = payments_usd_mxn
	url = https://github.com/RLCO/payments_usd_mxn.git
	branch = master
[submodule "app-odoo"]
	path = app-odoo
	url = https://github.com/RLCO/app-odoo.git
	branch = 12.0
[submodule "odoo-pim"]
	path = odoo-pim
	url = https://github.com/RLCO/odoo-pim.git
	branch = 12.0
[submodule "odoo-shopinvader-payment"]
	path = odoo-shopinvader-payment
	url = https://github.com/RLCO/odoo-shopinvader-payment.git
	branch = 12.0
[submodule "CybroAddons"]
	path = CybroAddons
	url = https://github.com/RLCO/CybroAddons.git
	branch = 12.0
[submodule "OpenHRMS"]
	path = OpenHRMS
	url = https://github.com/RLCO/OpenHRMS.git
	branch = 12.0
[submodule "patches"]
	path = patches
	url = https://github.com/RLCO/patches.git
	branch = 12.0
[submodule "odoo-addons-company-wizard"]
	path = odoo-addons-company-wizard
	url = https://github.com/RLCO/odoo-addons-company-wizard.git
	branch = 12.0
[submodule "odoo-shopinvader"]
	path = odoo-shopinvader
	url = https://github.com/RLCO/odoo-shopinvader.git
	branch = 12.0
[submodule "odoo-usability"]
	path = odoo-usability
	url = https://github.com/RLCO/odoo-usability.git
	branch = 12.0
[submodule "odoo-viewer-groups"]
	path = odoo-viewer-groups
	url = https://github.com/RLCO/odoo-viewer-groups.git
	branch = 12.0
[submodule "odoo_addons"]
	path = odoo_addons
	url = https://github.com/RLCO/odoo_addons.git
	branch = 12.0
[submodule "ingadhoc_website"]
	path = ingadhoc_website
	url = https://github.com/RLCO/ingadhoc_website.git
	branch = 12.0
[submodule "avoinsystems-addons"]
	path = avoinsystems-addons
	url = https://github.com/RLCO/avoinsystems-addons.git
	branch = 12.0
